@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  color: black;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* styling for top part of each section starts */
.section-top h2{
  text-align: center;
  font-size: 35px;
}
.section-top span{
  height: 9px;
  width: 15%;
  margin: 22px auto;
  display: block;
  background-color: #CCCCCC;
}
/* styling for top part of each section ends  */
/* font color styling starts  */
.dark-font{
  color: black;
}
.normal-font{
  color: #020222;
}
.faint-font{
  color:#73736A;
}
/* font color styling ends  */
/* for container  */
.container{
  overflow-x: hidden;
}
/* for container  */
/*for wrapper*/
.wrapper {
  max-width: 1515px;
  width: 97%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/


nav ul{
  display: flex;
}
nav ul li{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 27px;
  background-color: #F1F1F1;
}
#hamburg-icon{
  display: none;
}
.hamburg-menu{
  transform: translateX(-100%);
  transition: transform 2s ease-in-out;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.hamburg-icon{
  display: none;
}
.hamburg-icon::before,.cross-icon::before{
  content: "\f0c9";
  font-family: "fontAwesome";
  font-size: 30px;
}
.cross-icon::before{
  content: "\f00d";
}
.hamburg-menu ul{
display: flex;
flex-direction: column;
}

.hamburg-menu ul li{
 border: 1px solid black; 
 display: block;
}
.hamburger{
  display: none;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*=================================
  banner styling starts here
=================================*/

.banner{
  width: 100%;
  padding: 75px 0;
}
.banner h1{
  font-size: 50px;
  font-weight: bold;
}
.banner span{
  display: inline-block;
  margin-top: 49px;
  font-size: 22px;
}
.banner figure{
  margin-top: 50px;
}
.slider{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #616161;
  box-sizing: border-box;
  padding: 23px;
}

.left-arrow::before,.right-arrow::before{
  content: "\f0a8";
  font-family: "fontAwesome";
  font-size: 35px;
  color: #ffff;
}
.right-arrow::before{
  content: "\f0a9";
}
.buttons span{
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-top: 5px;
}

/*=================================
  banner styling ends here
=================================*/
/*=================================
  what we offer section start here
=================================*/
.what-we-offer{
width: 100%;
}

.what-we-offer .wrapper{
  display: flex;
  margin: 69px auto;
}
.our-offers{
  border: 1px solid black;
  padding: 54px 0 96px 26px;
}
.our-offers h3{
  font-size: 32px;
}
.our-offers p{
  margin-top: 35px;
  font-size: 20px;
}
.our-offers:nth-child(1){
  background-color:#F1F1F1 ;
}
.our-offers:nth-child(2){
  background-color: #BBBBBB;
}
.our-offers:nth-child(3){
  background-color: #616161;
  color: #ffff;
}
.our-offers:nth-child(4){
  background-color: black;
  color: #ffff;
}

/*=================================
 what we offer section ends here
=================================*/

/*=================================
  pricing plans section starts here
  =================================*/

  .pricing-plans{
    width: 100%;
  }
  .choose-your-plan{
    text-align: center;
    margin-top: 36px;
  }
  .pricing-plans .wrapper{
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
  }
  .plan-features{
    border: 1px solid black;
    flex-basis: 32%;
  }
  .pricing-plans ul{
    width: 100%;
  }
  .pricing-plans ul li{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border: 1px solid #DDDDDD;
  }
  .plan-title{
    background: black;
    color: #FFFF;
  }
  .plan-footer{
    background: #F1F1F1;
  }
  .plan-footer button{
    background-color: #4CAF50;
    border: none;
  }
  .plan-footer button a{
    font-size: 20px;
    color: #FFFF;
    padding: 22px 34px;
  }
/*=================================
  pricing plans section ends here
=================================*/
/*=================================
  who we are section starts here
=================================*/
.who-we-are{
  width: 100%;;
}
.who-we-are .wrapper{
  display: flex;
  justify-content: space-between;
}
.person-info{
  border: 1px solid black;
  flex-basis: 32%;
  box-shadow: 4px 4px #bbbb;
}
.person-details{
  padding: 29px 26px;
}
.person-details h3{
  font-size: 30px;
}
.person-details span{
  display: block;
  margin-top: 33px;
  font-size: 20px;
}
.person-details p{
  margin-top: 28px;
  font-size: 18px;
}
.person-details button{
  width: 100%;
  margin-top: 25px;
  padding: 18px;
  border: none;
}
/*=================================
  who we are section ends here
=================================*/
/*=================================
  contact us section starts here
=================================*/
  .contact-us{
    width: 100%;
    padding: 110px 0;
  }
  .contact-us .wrapper{
    margin-top: 95px;
  }
  .contact-us label{
    font-size: 22px;
  }
  .contact-us input{
    display: block;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
  }
.contact-us button {
  height: 60px;
  width: 100%;
  color: #FFFF;
  background-color: black;
}
.contact-us button a{
  height: 100%;
  width: 100%;
  color: #FFFF;
  padding-top: 14px;
  font-size: 22px;
}
/*=================================
  contact us section ends here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer{
  width: 100%;
  background-color: #F1F1F1;
  padding: 75px 0;
}
.footer-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 50px;
}
footer h2{
  font-size: 28px;
}
footer button{
  display: block;
  width: 190px;
  padding: 20px;
  background-color: black;
  border: none;
}
footer button a{
  color: #FFFF;
  font-size: 18px;
}
.icon::before{
  content: "\f082";
  font-family: "fontAwesome";
  font-size: 30px;
}
.icon:nth-child(2)::before{
  content: "\f16d";
}
.icon:nth-child(3)::before{
  content: "\f0f3";
}
.icon:nth-child(4)::before{
  content: "\f231";
}
.icon:nth-child(5)::before{
  content: "\f099";
}
.icon:nth-child(6)::before{
  content: "\f0e1";
}
.footer-info span{
  font-size: 23px;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

.what-we-offer .wrapper{
  flex-wrap: wrap;
}
.person-details{
  padding:29px 0;
}
.hamburger{
  display: block;
}
/* .toggle{
  display: block;
} */
.menu{
  display: none;
}
.hamburg-icon{
  display: block;
}

#hamburg-icon:checked ~ nav{
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

}  